.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10px;
  padding: 0;
}

.header-item {
  list-style-type: none;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}

.header-template {
  width: 160px;
}

.header-order {
  width: 160px;
  text-align: end;
}

.header-main-title {
  margin: auto;
  font-size: 20px;
}

.header-template--invisible {
  display: none;
}

.header-order--invisible {
  display: none;
}
