.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  border: var(--border-main);
  border-radius: var(--border-radius-main);
  outline: 1px solid var(--color-pill-outline);
  box-shadow: var(--shadow-background);
  background-color: var(--color-white);
  cursor: pointer;
  padding-right: 1rem;
  overflow-x: hidden;
  padding-left: 1rem;
}

.list--main > .list-item {
  width: 100%;
  max-width: 42rem;
  max-height: 3rem;
}

.list-item__text {
  display: flex;
  padding: 1.25rem 0;
  padding-left: 3rem;
  text-decoration: none;
  flex-grow: 1;

  /* Place it to <body> tag, remove from here */
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--color-dark-100);
}

.form-check-input {
  width: 2rem;
  height:2rem;
}

.btn {
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 1.5rem;
}

.btn:hover {
  background-color: gray;
}

.step__done {
  border: none;
  border-radius: 1.5rem;
  background-color: transparent;
  margin: 0;
}

.step__done--button {
  width: 2rem;
  height: 2rem;
}