.list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  border: var(--border-main);
  border-radius: var(--border-radius-main);
  outline: 1px solid var(--color-pill-outline);
  box-shadow: var(--shadow-background);
  background-color: var(--color-white);
  cursor: pointer;
}

.list__item .button--delete {
  visibility: hidden;
}

.list__item:hover .button {
  visibility: visible;
}

.list__item--finished {
  background-color: var(--color-green);
  color: var(--color-white);
  border-color: var(--color-dark-30);
}

.list__item--late {
  background-color: var(--color-error);
  color: var(--color-white);
  border-color: var(--color-dark-100);
}

.items__list > .list__item {
  width: 100%;
}

.list__item > button {
  margin: 0 1rem 0 0.25rem;
}

.list__button-container {
  display: flex;
  flex-wrap: wrap;
  position:relative;
  width: 3rem;
}

.stack-top {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.list__item--text {
  display: flex;
  padding: 1rem 0;
  padding-left: 3rem;
  text-decoration: none;
  overflow-x: hidden;
  flex-grow: 1;

  /* Place it to <body> tag, remove from here */
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--color-dark-100);
}

.list__item--reducer {
  display: flex;
  padding: 0.75em 0;
  justify-content: flex-end;
}

.form-check-input {
  width: 2rem;
  height: 2rem;
}

.btn {
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 1.5rem;
}

.btn:hover {
  background-color: gray;
}

.step__done {
  border: none;
  border-radius: 1.5rem;
  background-color: transparent;
  margin: 0;
  margin-right: 1rem;
}

.done {
  width: 2rem;
  height: 2rem;
}

.list__item__form {
  display: flex;
  flex-direction: row;
}

.list__item--deadline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 2rem;
  line-height: 1;
  margin: 1rem 0;
  margin-right: 0.75rem;
  border: var(--border-main);
  outline: 1px solid var(--color-pill-outline);
  box-shadow: var(--shadow-background);
  border-radius: var(--border-radius-main);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}

@media (max-width: 968px) {
}
