.list {
    display: flex;
    height: 100%;
    gap: var(--gap-main);
    flex-direction: column;
    padding: 2rem;
    border-radius: var(--border-radius-main);
    background-color: var(--color-silver);
    box-shadow: var(--shadow-left-field);
}

.list--left{
    border-radius: var(--border-radius-left);
}

.list--right{
    border-radius: var(--border-radius-right);
}

.list--left > * {
    border-radius: var(--border-radius-left)
  }

.list--right > * {
    border-radius: var(--border-radius-right)
}
