.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  border: var(--border-main);
  border-radius: var(--border-radius-main);
  outline: 1px solid var(--color-pill-outline);
  box-shadow: var(--shadow-background);
  background-color: var(--color-white);
  cursor: pointer;
}

.list--main > .list-item {
  width: 100%;
  max-width: 42rem;
  max-height: 3rem;
}

.link {
  display: flex;
  padding: 1.25rem 0;
  padding-left: 3rem;
  text-decoration: none;
  flex-grow: 1;

  /* Place it to <body> tag, remove from here */
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--color-dark-100);
}

.link:visited {
  color: var(--color-black);
}