.list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-main);
    padding: 2rem;
    border-radius: var(--border-radius-main);
    background-color: var(--color-silver);
    box-shadow: var(--shadow-left-field);
    overflow:hidden;
    overflow-y:scroll;
    scroll-behavior: smooth;
    scroll-margin-top: 1rem;
}

.list:hover::-webkit-scrollbar-thumb {
    background-color: #ff9900;
}

.items__list, .steps__list {
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    height: 100%;
    max-width: 45vw;
    max-height: 20vh;
}

.orders__list, .templates__list {
    height: 100%;
    max-height: 42rem;
}

.templates > ul, .templates > ul > li {
    padding-left: 0;
    border-radius: var(--border-radius-left);
}

.orders > ul, .orders > ul > li  {
    direction: rtl;
    padding-right: 0;
    border-radius: var(--border-radius-right);
}

.orders > ul > li  > .list-item__text {
    justify-content: flex-end;
}

