.list {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: var(--gap-main);
    padding: 2rem;
    border-radius: var(--border-radius-main);
    background-color: var(--color-silver);
    box-shadow: var(--shadow-left-field);
    overflow: hidden;
    overflow-y:scroll;
    scroll-behavior: smooth;
    scroll-margin-top: 1rem;
}

.list:hover::-webkit-scrollbar-thumb {
    background-color: #ff9900;
}

.templates, .orders {
    display: flex;
    height: 100%;
    width: calc(100% - 1vw);
}

.templates > ul, .templates > ul > li {
    padding-left: 0;
    border-radius: var(--border-radius-left);
}

.orders > ul, .orders > ul > li  {
    direction: rtl;
    padding-right: 0;
    border-radius: var(--border-radius-right);
}

.orders > ul > li  > .list__item--text {
    justify-content: flex-end;
}

.items__list, .steps__list {
    max-height: 15vh;
    overflow: hidden;
    overflow-y: scroll;
}