.main-page_body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  height: 100%;
}

.main-page__aside {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}