.popup-window {
  width: 27rem;
  margin: auto;
  padding: 2.5rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap-main);
  font-family: var(--font-family);
  border: 0.125rem solid var(--bg-color-gray);
  border-radius: var(--border-radius-popup);
  box-shadow: var(--shadow-background);
}

.popup__heading--text {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight);
}

.cross-button {
  float: right;
  width: fit-content;
  border: none;
  background-color: transparent;
  font-size: var(--font-size-24);
}

.pupup__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-smaller);
}

.template--invisible {
  display: none;
}

.order--invisible {
  display: none;
}