.popup-window {
  width: 33%;
  height: 50%;
  margin: auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap-smaller);
  font-family: var(--font-family);
  border: var(--border-popup);
  border-radius: var(--border-radius-popup);
}

.popup__heading--text {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight);
}

.cross-button {
  float: right;
  width: fit-content;
  border: none;
  background: transparent url('../images/cross.png') no-repeat center; 
}

.pupup__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-smaller);
}

.template--invisible {
  display: none;
}

.order--invisible {
  display: none;
}