.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 6rem;
  line-height: 1;
  border: var(--border-main);
  outline: 1px solid var(--color-pill-outline);
  box-shadow: var(--shadow-background);
  border-radius: 2em;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--color-dark-100);
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.button:active {
  font-size: 15px;
}

.button--gray {
  background-color: var(--bg-color-gray);
}

.button--dark {
  color: var(--color-white);
  background-color: var(--color-dark-100);
}

.button--orange {
  color: var(--color-black);
  background-color: var(--color-orange);
}

.button--wide {
  width: 19rem;
  padding: inherit 2rem;
}

.button--small {
  height: 2rem;
  width: 3rem;
  font-size: 1.5rem;
}