.list-item {
  display: flex;
  align-items: center;
  padding-left: 3rem;
  height: 3.5rem;
  border: var(--border-main);
  outline: 1px solid var(--color-pill-outline);
  box-shadow: var(--shadow-background);
  border-radius: 2em;
  cursor: pointer;
}

.list-item--left {
  border-radius: 0 2rem 2rem 0;
}

.list-item--right {
  border-radius: 2rem 0 0 2rem ;
}

